{% extends 'base.html' %}

{% block title %}
Про проект
{% endblock %}

{% block body %}
<div class="bg-secondary w-100 pb-2">
    <div class="container">
        <h2 class="text-center text-light p-3">Склад гурту</h2>
        <div class="container col-9 text-center">
            <table class="table table-dark table-hover">
                <tr>
                    <th>
                        Святослав Вакарчук
                    </th>
                    <th>
                        вокал
                    </th>
                </tr>
                <tr>
                    <th>
                        Денис Глінін
                    </th>
                    <th>
                        ударні
                    </th>
                </tr>
                <tr>
                    <th>
                        Денис Дудко
                    </th>
                    <th>
                        бас-гітара
                    </th>
                </tr>
                <tr>
                    <th>
                        Милош Єлич
                    </th>
                    <th>
                        клавішні
                    </th>
                </tr>
                <tr>
                    <th>
                        Владімір Опсеніца
                    </th>
                    <th>
                        гітара
                    </th>
                </tr>
            </table>
        </div>
    </div>
    <h2 class="text-center text-light p-3">Хронологія</h2>
    <div class="container col-9 text-center">
        <table class="table table-dark table-hover rounded">
            <tr>
                <th>
                    1996
                </th>
                <th>
                    <ul>
<li>Участь на фестивалях: Срібна підкова 95-96, Альтернатива 2, Перлини сезону 1996, Таврійські ігри 96, Траш 96, Гернсбах (Німеччина), Конкурс «Р. Ф. І» 96 (Франція).</li>
<li>Перший музичний фільм про «ОЕ», який показали в програмі «Решето» на каналі ТЕТ.</li>
                    </ul></th>
            </tr>
            <tr>
                <th>
                    1997
                </th>
                <th>
                     <ul>
<li>Клубний тур на півдні Франції та заході Німеччини.</li>
<li>Великий сольний концерт у Львові «Два з половиною». В зал, який міг помістити 700—800 чоловік прийшло більше 1000.</li>
                    </ul>
                </th>
            </tr>
            <tr>
                <th>
                    1999
                </th>
                <th>
                    <ul>
<li>Сольний концерт в кафе МСМ (Париж, Франція).</li>
<li>ОЕ отримали премії «Прорив року» та «Найкраща пісня» («Там де нас нема») на фестивалі «Таврійські ігри».</li>
                    </ul>                </th>
            </tr>
            <tr>
                <th>
                    2000
                </th>
                <th>
<ul>
<li>Сольний концерт в клубі «Асторія» (Лондон, Велика Британія).</li>
                    </ul>                </th>
            </tr>
            <tr>
                <th>
                    2001
                </th>
                <th>
<ul>
<li>Концерт в Палаці Спорту (Київ). Вперше сольний концерт української групи зібрав повний Палац Спорту.</li>
<li>Океан Ельзи стає новим обличчям Пепсі Кола в Україні.</li>
                    </ul>                </th>
            </tr>
            <tr>
                <th>
                    2003
                </th>
                <th>
<ul>
<li>Сольний концерт в Палаці Спорту (Київ). Початок наймасштабнішого в історії сучасної України концертного туру «Суперсиметрія», що охопив понад 40 міст України.</li>
<li>Святослав Вакарчук став Послом української культури. Вперше в історії країни таке звання дісталося рок-музиканту.</li>
                    </ul>                </th>
            </tr>
            <tr>
                <th>
                    2005
                </th>
                <th>
<ul>
<li>Live at M1! Вперше в історії телеканалу — концерт в прямому ефірі. Присвячено випускникам.</li>
<li>Виходить альбом «Gloria». за перші 6 годин було продано 106 000 екземплярів (новий український рекорд).</li>
                    </ul>                </th>
            </tr>
            <tr>
                <th>
                    2006
                </th>
                <th>
<ul>
<li>Клубний тур на півдні Франції та заході Німеччини.</li>
<li>ПВеликий сольний концерт у Львові «Два з половиною». В зал, який міг помістити 700—800 чоловік прийшло більше 1000.</li>
                    </ul>                </th>
            </tr>
            <tr>
                <th>
                    - -/- -/2002
                </th>
                <th>
<ul>
<li>Пісня «Без бою» (з альбому Gloria, 2005) на кількох українських радіостанціях стала піснею 2005 року. Кліп на неї є одним із найпопулярніших україномовних відео у YouTube (12 млн переглядів).</li>
<li>Океан Ельзи стали переможцями у трьох номінаціях премії ShowBiz 2005. Нагороди група отримала за найкращий альбом року (GLORIA) та як найкраща рок-група року. Найкращим виконавцем року став Святослав Вакарчук.</li>
                    </ul>                </th>
            </tr>
            <tr>
                <th>
                    2007
                </th>
                <th>
<ul>
<li>Стартував міжнародний тур групи «Океан Ельзи» «I'm going home» («Я їду додому»). Перший концерт туру відбувся в Афінах (Греція), в театрі «Лікавіттос», на сцені якого грали такі виконавці як Doors, Bob Dylan, Radiohead тощо.</li>
<li>Океан Ельзи визнано Найкращою рок-групою СНД-2007 за версією щорічної премії в галузі музики FUZZ-2007.</li>
                    </ul>                </th>
            </tr>
            <tr>
                <th>
                    2009
                </th>
                <th>
<ul>
<li>Музиканти вирушають до Німеччини, де дають 3 аншлагові концерти: у Гамбурзі, Мюнхені та Кельні.</li>
                    </ul>                </th>
            </tr>
            <tr>
                <th>
                    2010
                </th>
                <th>
<ul>
<li>12 березня почався перший концерт річного туру Dolce Vita, який за своїми масштабами не має аналогів в Україні. Океан Ельзи відвідали з концертами близько 90 міст в Україні, Росії, Білорусі, Туреччині, Чехії, США, Канаді, Латвії та Естонії.</li>
<li>Другий сингл альбому «Dolce Vita» — «Більше для нас» — 7 тижнів поспіль тримався на 1-му місці українського радіочарту ФДР ТОП 40.</li>
                    </ul>                </th>
            </tr>
            <tr>
                <th>
                    2012
                </th>
                <th>
<ul>
<li>Гурт Океан Ельзи отримав премію YUNA (Yearly Ukrainian National Awards, український аналог «Греммі») як «Найкраща група двадцятиріччя».</li>
                    </ul>                </th>
            </tr>
            <tr>
                <th>
                    2013
                </th>
                <th>
<ul>
<li>1 червня у Львові на стадіоні «Арена Львів» відбувся концерт гурту Океан Ельзи, в рамках туру «Земля». На виступ прийшло понад 30 тисяч людей.</li>
<li>14 грудня гурт Океан Ельзи в старому складі (С. Вакарчук, Д. Глінін, П. Гудімов, Д. Шуров та Ю. Хусточка) виступив на Євромайдані. За різними даними, на Майдан Незалежності прийшло близько 200 тисяч людей.</li>
                    </ul>                </th>
            </tr>
            <tr>
                <th>
                    2014
                </th>
                <th>
<ul>
<li>Святослав Вакарчук та Океан Ельзи отримали премію YUNA-2014 в 4 номінаціях (Вакарчук переміг у номінаціях «Найкращий композитор» і «Найкращий автор слів», а ОЕ: «Найкращий гурт» і «Альбом року» — «Земля»).</li>
<li>21 червня концерт «Океан Ельзи — 20 років разом!» на НСК «Олімпійський» зібрав понад 70 тисяч людей. Це наймасовіший сольний концерт в українській історії.</li>
                    </ul>                </th>
            </tr>
            <tr>
                <th>
                    2015
                </th>
                <th>
                    <ul>
<li>Телеверсія концерту «Океану Ельзи» до Дня незалежності на стадіоні «Арена Львів», що 3,5 години транслювався в прямому ефірі телеканалу «1+1» 24 серпня 2014 року, отримала премію «Silver Screen» на американському кінофестивалі «US International Film & Video Festival».</li>
                    </ul>
                </th>
            </tr>
            <tr>
                <th>
                    2019
                </th>
                <th>
<ul>
<li>Гурт Океан Ельзи отримав премію Top Hit Music Awards в номінації «Найкращий гурт на радіо» (674 558 ефірів).</li>
                    </ul>                </th>
            </tr>
            <tr>
                <th>
                    2020
                </th>
                <th>
<ul>
<li>Гурт Океан Ельзи отримав премію Top Hit Music Awards в номінації «Найкращий гурт на радіо» (756 626 ефірів).</li>
                    </ul>                </th>
            </tr>

        </table>
    </div>

</div>
{% endblock %}