{% extends 'base.html' %}

{% block title %}
Історія гурту
{% endblock %}

{% block body %}
<div class="bg-secondary">
    <div class="bg-secondary">
        <h1 class="text-center text-white p-2">Гурт 'Океан Ельзи'</h1>

        <div class="container marketing bg-light  rounded">

            <div class="row featurette pt-3">
                <div class="col-md-7 d-flex align-items-center">
                    <div>
                        <span class="featurette-heading text-muted h2">Океан Ельзи –</span>
                        <span class="lead">український рок-гурт, створений 12 жовтня 1994 року у Львові. Лідером та вокалістом гурту є Святослав Вакарчук.

Публіка та критики неодноразово визнавали «Океан Ельзи» найкращим рок-гуртом та найкращим концертним гуртом пострадянських країн та Східної Європи. Усього на території України продано понад мільйон дисків ОЕ.</span>
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="../static/images/home1.jpg" alt="photo" width="500px"; height="400px" class="rounded col-12 col-md-12">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2 d-flex align-items-center">
                    <div>
                        <span class="featurette-heading text-muted h2">Цікаві факти <br></span>
                        <span class="lead">
                            <ul>
                                <li>«Океан Ельзи», за словами Святослава Вакарчука, ніколи не братиме участі у конкурсах, тобто у заходах, де учасники змагаються за місця (наприклад, «Євробаченні»). Такий принцип гурт ухвалив ще на початку існування, після розчарування у музичному конкурсі «Перлини сезонів», де «ОЕ» лідирував від початку аж до виступу останнього колективу, який переміг, а «Океан» посів лише друге місце</li>
                                <li>Один з перших піар-менеджерів гурту згадує, що в ранній період вони робили ставку на аудиторію жінок 35+, а також на дітей з патріотичних сімей</li>
                                <li>Теми пісень гурту звучать у першому українському анімаційному мультсеріалі «Лис Микита» і в дитячому фільмі «Прикольна казка».</li>
                                <li>Піснею "Країна дітей" (спільно з Аlyona alyona до Дня захисту дітей) гурт долучився до акції "Так працює пам'ять", присвяченої пам'яті Данила Дідіка і всім, хто віддав життя за незалежність України.</li>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="../static/images/home2.jpg" alt="photo" width="500px"; height="400px" class="rounded col-12 col-md-12">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette pb-3">
                <div class="col-md-7 d-flex align-items-center">
                    <div>
                        <span class="featurette-heading text-muted h2">Океан Ельзи під час повномаcштабної війни<br></span>
                        <span class="lead">З самого першого дня повномасштабного вторгнення армії РФ на територію України, група Океан Ельзи активно бере участь в підтримці українців, які постраждали від дій рашистів, які змушені були тікати зі свого дому тільки щоб вижити, які змушені були ховатись в метро,підвалах від обстрілів.</span>
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="../static/images/home3.jpg" alt="photo" width="500px"; height="400px" class="rounded col-12 col-md-12">
                </div>
            </div>

        </div>
    </div>
    <div class="bg-secondary" style="height: 40px"></div>
</div>
{% endblock %}